*.VC.db
*.sdf
*.opendb
*.ilk
*.pdb
*.exe
*.log
*.ipdb
*.iobj
*.tmp
*.user

*_140.*

.vs/
[Bb]in/
x64/
x86/
Debug/
Release/
Win32/
[Tt]emp/
.mayaSwatches/
.vscode/
contents/textures/FlappyBird.tga
contents/textures/background.tga
contents/textures/cat.tga
contents/textures/test.tga
contents/textures/test2.tga
contents/textures/two_lines.tga
